In [385]:
import pandas as pd
import gc

# ENDPOINT NRO 1

def PlayTimeGenre( genero: str ) :<br> Debe devolver año con más horas jugadas para dicho género. <br>
Ejemplo de retorno: {"Año de lanzamiento con más horas jugadas para Género X" : 2013}

In [386]:
ep3_items_columns = ['user_id', 'item_id', 'playtime_forever']

In [387]:
df_users_items = pd.read_csv('CSV\\australian_users_items.csv',usecols=ep3_items_columns, sep=',', encoding='UTF-8')
df_users_items.head(2)

             user_id  playtime_forever  item_id
0  76561197970982479                 6       10
1            js41637                 0       10

In [388]:
df_steam_games = pd.read_csv('CSV\output_steaam_games.csv', sep=",", encoding="UTF-8")
df_steam_games.head(2)

,title,release_date,price,item_id,developer,genres_Action,genres_Adventure,genres_Animation and Modeling,genres_Audio Production,genres_Casual,...,genres_Photo Editing,genres_RPG,genres_Racing,genres_Simulation,genres_Software Training,genres_Sports,genres_Strategy,genres_Utilities,genres_Video Production,genres_Web Publishing
0,Lost Summoner Kitty,2018.0,4.99,761140,Kotoshiro,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Lost Summoner Kitty,2018.0,4.99,761140,Kotoshiro,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0

In [389]:
df_merge = df_users_items.merge(df_steam_games, on='item_id')
df_merge.sample(20)

,user_id,playtime_forever,item_id,title,release_date,price,developer,genres_Action,genres_Adventure,genres_Animation and Modeling,...,genres_Photo Editing,genres_RPG,genres_Racing,genres_Simulation,genres_Software Training,genres_Sports,genres_Strategy,genres_Utilities,genres_Video Production,genres_Web Publishing
14363,Extifail,445,240,Counter-Strike: Source,2004.0,19.99,Valve,1,0,0,...,0,0,0,0,0,0,0,0,0,0
74569,ArcticHaZe,965,400,Portal,2007.0,9.99,Valve,1,0,0,...,0,0,0,0,0,0,0,0,0,0
67862,76561198075333896,387,12120,Grand Theft Auto: San Andreas,2005.0,14.99,Rockstar Games,1,0,0,...,0,0,0,0,0,0,0,0,0,0
61534,applezzz,3503,105600,Terraria,2011.0,9.99,Re-Logic,0,0,0,...,0,1,0,0,0,0,0,0,0,0
52279,76561198069404035,2455,4000,Garry's Mod,2006.0,9.99,Facepunch Studios,0,0,0,...,0,0,0,1,0,0,0,0,0,0
145,r3koil,33,10,Counter-Strike,2000.0,9.99,Valve,1,0,0,...,0,0,0,0,0,0,0,0,0,0
68481,76561198082063805,0,1250,Killing Floor,2009.0,19.99,Tripwire Interactive,1,0,0,...,0,0,0,0,0,0,0,0,0,0
6541,76561198075003490,4329,240,Counter-Strike: Source,2004.0,19.99,Valve,1,0,0,...,0,0,0,0,0,0,0,0,0,0
55845,76561198084491984,384,4000,Garry's Mod,2006.0,9.99,Facepunch Studios,0,0,0,...,0,0,0,1,0,0,0,0,0,0
26809,76561198112110389,1623,4000,Garry's Mod,2006.0,9.99,Facepunch Studios,0,0,0,...,0,0,0,1,0,0,0,0,0,0
26410,76561198085765656,3376,4000,Garry's Mod,2006.0,9.99,Facepunch Studios,0,0,0,...,0,0,0,0,0,0,0,0,0,0
85086,76561198104830424,124,304930,Unturned,2017.0,0.00,Smartly Dressed Games,0,0,0,...,0,0,0,0,0,0,0,0,0,0
33458,76561198020484861,13281,4000,Garry's Mod,2006.0,9.99,Facepunch Studios,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16741,officialflorana,624,220,Half-Life 2,2004.0,9.99,Valve,1,0,0,...,0,0,0,0,0,0,0,0,0,0
31471,XeroChances,215,4000,Garry's Mod,2006.0,9.99,Facepunch Studios,0,0,0,...,0,0,0,1,0,0,0,0,0,0
86577,SaBeR_,9499,304930,Unturned,2017.0,0.00,Smartly Dressed Games,1,0,0,...,0,0,0,0,0,0,0,0,0,0
77193,wolfenz,0,2100,Dark Messiah of Might &amp; Magic,2006.0,9.99,Arkane Studios,0,0,0,...,0,1,0,0,0,0,0,0,0,0
59295,76561198150605293,25479,4000,Garry's Mod,2006.0,9.99,Facepunch Studios,0,0,0,...,0,0,0,1,0,0,0,0,0,0
49351,76561198056288892,290,4000,Garry's Mod,2006.0,9.99,Facepunch Studios,0,0,0,...,0,0,0,1,0,0,0,0,0,0
81512,76561198042529195,174,12200,Bully: Scholarship Edition,2008.0,14.99,Rockstar New England,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [390]:
df_merge['release_date'] = df_merge['release_date'].map(int)
df_merge.reset_index(drop=True, inplace=True)

In [391]:
df_merge.head(1)

,user_id,playtime_forever,item_id,title,release_date,price,developer,genres_Action,genres_Adventure,genres_Animation and Modeling,...,genres_Photo Editing,genres_RPG,genres_Racing,genres_Simulation,genres_Software Training,genres_Sports,genres_Strategy,genres_Utilities,genres_Video Production,genres_Web Publishing
0,76561197970982479,6,10,Counter-Strike,2000,9.99,Valve,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [392]:
df_merge.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 95785 entries, 0 to 95784
Data columns (total 28 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   user_id                         95785 non-null  object
 1   playtime_forever                95785 non-null  int64
 2   item_id                         95785 non-null  int64
 3   title                           95785 non-null  object
 4   release_date                    95785 non-null  int64
 5   price                           95785 non-null  float64
 6   developer                       95785 non-null  object
 7   genres_Action                   95785 non-null  int64
 8   genres_Adventure                95785 non-null  int64
 9   genres_Animation and Modeling   95785 non-null  int64
 10  genres_Audio Production         95785 non-null  int64
 11  genres_Casual                   95785 non-null  int64
 12  genres_Design and Illustration  95785 non-null  int64
 13  genres_Early Access             95785 non-null  int64
 14  genres_Education                95785 non-null  int64
 15  genres_Free to Play             95785 non-null  int64
 16  genres_Indie                    95785 non-null  int64
 17  genres_Massively Multiplayer    95785 non-null  int64
 18  genres_Photo Editing            95785 non-null  int64
 19  genres_RPG                      95785 non-null  int64
 20  genres_Racing                   95785 non-null  int64
 21  genres_Simulation               95785 non-null  int64
 22  genres_Software Training        95785 non-null  int64
 23  genres_Sports                   95785 non-null  int64
 24  genres_Strategy                 95785 non-null  int64
 25  genres_Utilities                95785 non-null  int64
 26  genres_Video Production         95785 non-null  int64
 27  genres_Web Publishing           95785 non-null  int64
dtypes: float64(1), int64(24), object(3)
memory usage: 20.5+ MB

In [393]:
df_merge.to_csv('CSV\consulta1.csv', index=False)

In [394]:
df_merge.head(3)

,user_id,playtime_forever,item_id,title,release_date,price,developer,genres_Action,genres_Adventure,genres_Animation and Modeling,...,genres_Photo Editing,genres_RPG,genres_Racing,genres_Simulation,genres_Software Training,genres_Sports,genres_Strategy,genres_Utilities,genres_Video Production,genres_Web Publishing
0,76561197970982479,6,10,Counter-Strike,2000,9.99,Valve,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,js41637,0,10,Counter-Strike,2000,9.99,Valve,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Riot-Punch,0,10,Counter-Strike,2000,9.99,Valve,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [395]:
df = pd.read_csv('CSV\\consulta1.csv', sep=',', encoding='UTF-8')

In [396]:
df_filtrado = df[df['genres_Action'] == 1]

In [397]:
 # Agrupa por año y suma las horas de juego
resumen = df_filtrado.groupby('release_date')['playtime_forever'].sum()

In [398]:
anio_mas_horas = resumen.idxmax()
max_horas_jugadas = resumen.max()

In [399]:
df1 = df_filtrado[df_filtrado['release_date'] == anio_mas_horas]

In [400]:
# Agrupa por año, y suma las horas de juego
resumen = df1.groupby(['release_date'])['playtime_forever'].sum().reset_index()

In [401]:

# Convierte el resultado en una lista de horas acumuladas por año
horas_acumuladas_por_año = []
for _, row in resumen.iterrows():
    horas_acumuladas_por_año.append({"Año": row["release_date"], "Horas": row["playtime_forever"]})

In [402]:
horas_acumuladas_por_año

[{'Año': 2004, 'Horas': 52713328}]

In [403]:
def query_data1(genero):
    try:
        df = pd.read_csv('CSV\\consulta1.csv', sep=',', encoding='UTF-8')  
        df_filtrado = df[df[genero] == 1]
         # Agrupa por año y suma las horas de juego
        resumen = df_filtrado.groupby('release_date')['playtime_forever'].sum()
        anio_mas_horas = resumen.idxmax()
       
        return {
            "Año con más horas jugadas para Género " + genero: anio_mas_horas,
          
        }
    except Exception as e:
        return {"error": str(e)}

In [404]:
genero = 'genres_Adventure'
query_data1(genero)

{'Año con más horas jugadas para Género genres_Adventure': 2011}

In [405]:
genero = 'genres_Casual'
query_data1(genero)

{'Año con más horas jugadas para Género genres_Casual': 2017}

# ENDPOINT NRO 2

def UserForGenre( genero: str ) :<br> Debe devolver el usuario que acumula más horas jugadas para el género dado y una lista de la acumulación de horas jugadas por año.<br>
Ejemplo de retorno: {"Usuario con más horas jugadas para Género X" : us213ndjss09sdf, "Horas jugadas":[{Año: 2013, Horas: 203}, {Año: 2012, Horas: 100}, {Año: 2011, Horas : 23}]}

In [406]:
df = pd.read_csv('CSV\\consulta1.csv', sep=',', encoding='UTF-8')

In [407]:
df_filtrado = df[df['genres_Action'] == 1]

In [408]:
 # Agrupa por usuario y suma las horas de juego
resumen = df_filtrado.groupby('user_id')['playtime_forever'].sum()

In [409]:
usuario_mas_horas = resumen.idxmax()
max_horas_jugadas = resumen.max()

In [410]:
df1 = df_filtrado[df_filtrado['user_id'] == usuario_mas_horas]

In [411]:
# Agrupa por usuario y año, y suma las horas de juego
resumen = df1.groupby(['user_id', 'release_date'])['playtime_forever'].sum().reset_index()

In [412]:

# Convierte el resultado en una lista de horas acumuladas por año
horas_acumuladas_por_año = []
for _, row in resumen.iterrows():
    horas_acumuladas_por_año.append({"Año": row["release_date"], "Horas": row["playtime_forever"]})

In [413]:
horas_acumuladas_por_año

[{'Año': 2004, 'Horas': 388621}]

In [414]:
def query_data2(genero):
    try:
        df = pd.read_csv('CSV\\consulta1.csv', sep=',', encoding='UTF-8')  

        df_filtrado = df[df[genero] == 1]

        # Agrupa por usuario y suma las horas de juego
        resumen = df_filtrado.groupby('user_id')['playtime_forever'].sum()

        usuario_mas_horas = resumen.idxmax()
        max_horas_jugadas = resumen.max()

        df1 = df_filtrado[df_filtrado['user_id'] == usuario_mas_horas]

        # Agrupa por usuario y año, y suma las horas de juego
        resumen = df1.groupby(['user_id', 'release_date'])['playtime_forever'].sum().reset_index()

        # Convierte el resultado en una lista de horas acumuladas por año
        horas_acumuladas_por_año = []
        for _, row in resumen.iterrows():
            horas_acumuladas_por_año.append({"Año": row["release_date"], "Horas": row["playtime_forever"]})

        return {
            "Usuario con más horas jugadas para Género " + genero: usuario_mas_horas,
            "Horas jugadas": horas_acumuladas_por_año
        }
    except Exception as e:
        return {"error": str(e)}

In [415]:
genero = 'genres_Adventure'
query_data2(genero)

{'Usuario con más horas jugadas para Género genres_Adventure': '76561198054840158',
 'Horas jugadas': [{'Año': 2014, 'Horas': 337453}]}

# ENDPOINT NRO 3

def UsersRecommend( año: int ) : <br>Devuelve el top 3 de juegos MÁS recomendados por usuarios para el año dado. (reviews.recommend = True y comentarios positivos/neutrales)<br>
Ejemplo de retorno: [{"Puesto 1" : X}, {"Puesto 2" : Y},{"Puesto 3" : Z}]

In [416]:
df_users_reviews = pd.read_csv("CSV//australian_user_reviews.csv", sep=",", encoding='UTF-8')

In [417]:
df_users_reviews.head(3)

,user_id,item_id,recommend,review,posted year,sentiment_analysis
0,76561197970982479,1250.0,True,Simple yet with great replayability. In my opi...,2011.0,2
1,76561197970982479,22200.0,True,It's unique and worth a playthrough.,2011.0,2
2,76561197970982479,43110.0,True,Great atmosphere. The gunplay can be a bit chu...,2011.0,2

In [418]:
columnas = ['item_id', 'title']
df_output_steam_games = pd.read_csv('CSV\output_steaam_games.csv', usecols=columnas, sep=',', encoding='UTF-8')
df_output_steam_games.head(3)

                 title  item_id
0  Lost Summoner Kitty   761140
1  Lost Summoner Kitty   761140
2  Lost Summoner Kitty   761140

In [419]:
df_output_steam_games.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55612 entries, 0 to 55611
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   title    55612 non-null  object
 1   item_id  55612 non-null  int64
dtypes: int64(1), object(1)
memory usage: 869.1+ KB

Agregamos una columna concatenada para luego eliminar duplicados

In [420]:
df_output_steam_games['concatenada'] = df_output_steam_games['title'] + str(df_output_steam_games['item_id'])

In [421]:
# eliminamos duplicados
df_output_steam_games.drop_duplicates(inplace=True)

In [422]:
df_output_steam_games.head(1)

,title,item_id,concatenada
0,Lost Summoner Kitty,761140,Lost Summoner Kitty0 761140\n1 7...

In [423]:
# eliminamos la columna agregada
df_output_steam_games.drop('concatenada', axis=1, inplace=True)

Hacemos un merge de los dos dataframe

In [424]:
df_merge = df_users_reviews.merge(df_output_steam_games, on='item_id')

Filtramos solo los que tienen recomendacion True

In [425]:
df_merge = df_merge[df_merge['recommend']==True]

In [426]:
df_merge['posted year'].unique()

array([2011., 2015., 2013., 2014., 2010., 2012.,   nan])

In [427]:
df_merge.info()

<class 'pandas.core.frame.DataFrame'>
Index: 43262 entries, 0 to 48338
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   user_id             43262 non-null  object
 1   item_id             43262 non-null  float64
 2   recommend           43262 non-null  object
 3   review              43241 non-null  object
 4   posted year         36324 non-null  float64
 5   sentiment_analysis  43262 non-null  int64
 6   title               43262 non-null  object
dtypes: float64(2), int64(1), object(4)
memory usage: 2.6+ MB

In [428]:
df_merge.dropna(inplace=True)

In [429]:
df_merge['posted year'] = df_merge['posted year'].astype(int)

In [430]:
df_merge.head(1)

,user_id,item_id,recommend,review,posted year,sentiment_analysis,title
0,76561197970982479,1250.0,True,Simple yet with great replayability. In my opi...,2011,2,Killing Floor

Pasamos el dataframe a csv para utilizar en la consulta

In [431]:
df_merge.to_csv('CSV\consulta3.csv', index=False)

In [432]:
df3 = pd.read_csv('CSV\consulta3.csv', sep=',', encoding='UTF-8')

In [433]:
año = 2011
df_filtrado = df3[df3['posted year'] == año]

In [434]:
df_filtrado.info()

<class 'pandas.core.frame.DataFrame'>
Index: 436 entries, 0 to 36161
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   user_id             436 non-null    object
 1   item_id             436 non-null    float64
 2   recommend           436 non-null    bool
 3   review              436 non-null    object
 4   posted year         436 non-null    int64
 5   sentiment_analysis  436 non-null    int64
 6   title               436 non-null    object
dtypes: bool(1), float64(1), int64(2), object(3)
memory usage: 24.3+ KB

In [435]:
df_filtrado.head(1)

,user_id,item_id,recommend,review,posted year,sentiment_analysis,title
0,76561197970982479,1250.0,True,Simple yet with great replayability. In my opi...,2011,2,Killing Floor

In [436]:
# Agrupar por 'item_id' y contar los valores 2 en la columna 'sentimiento'
conteo_sentimiento_2 = df_filtrado[df_filtrado['sentiment_analysis'] == 2].groupby('item_id').size()

In [437]:
# Ordenar en orden descendente según el conteo
conteo_sentimiento_2 = conteo_sentimiento_2.sort_values(ascending=False)
conteo_sentimiento_2

item_id
440.0       72
620.0       25
105600.0    21
4000.0      19
1250.0      14
            ..
15710.0      1
15700.0      1
15520.0      1
13600.0      1
24740.0      1
Length: 138, dtype: int64

In [438]:
top_3 = conteo_sentimiento_2.head(3)

In [439]:
# Obtener títulos de los ítems más recomendados
items_recomendados = top_3.index.tolist()
titulos_recomendados = df3[df3['item_id'].isin(items_recomendados)][['item_id', 'title']] \
                                .drop_duplicates().set_index('item_id').loc[items_recomendados]

In [440]:
titulos_recomendados = titulos_recomendados.reset_index(drop=True)
titulos_recomendados

             title
0  Team Fortress 2
1         Portal 2
2         Terraria

In [441]:
clave = ['Primero: ', 'Segundo: ', 'Tercero: ']
clave

['Primero: ', 'Segundo: ', 'Tercero: ']

In [442]:
valor = titulos_recomendados['title'].values
valor

array(['Team Fortress 2', 'Portal 2', 'Terraria'], dtype=object)

In [443]:
# Crear un diccionario a partir de los arrays usando zip()
diccionario = dict(zip(clave, valor))

In [444]:
diccionario

{'Primero: ': 'Team Fortress 2',
 'Segundo: ': 'Portal 2',
 'Tercero: ': 'Terraria'}

In [445]:
def UsersRecommend(año):
    
    df3 = pd.read_csv('CSV\\consulta3.csv', sep=',', encoding='UTF-8')
    df_filtrado = df3[df3['posted year'] == año] 
    
    # Agrupar por 'item_id' y contar los valores 2 en la columna 'sentimiento'
    conteo_sentimiento_2 = df_filtrado[df_filtrado['sentiment_analysis'] == 2].groupby('item_id').size()
    
    # Ordenar en orden descendente según el conteo
    conteo_sentimiento_2 = conteo_sentimiento_2.sort_values(ascending=False)
    top_3 = conteo_sentimiento_2.head(3)

    # Obtener títulos de los ítems más recomendados
    items_recomendados = top_3.index.tolist()
    titulos_recomendados = df3[df3['item_id'].isin(items_recomendados)][['item_id', 'title']] \
                            .drop_duplicates().set_index('item_id').loc[items_recomendados]
    # Obtener los títulos como una lista para el diccionario
    valores = titulos_recomendados['title'].values.tolist()

    # Crear el diccionario con claves fijas para los primeros 3 títulos
    claves = ['Primero: ', 'Segundo: ', 'Tercero: ']
    diccionario = dict(zip(claves, valores))
    return diccionario

In [446]:
UsersRecommend(2014)

{'Primero: ': 'Team Fortress 2',
 'Segundo: ': 'Counter-Strike: Global Offensive',
 'Tercero: ': "Garry's Mod"}

# ENDPOINT NRO 4

def UsersWorstDeveloper( año: int ) :<br>
Devuelve el top 3 de desarrolladores con juegos MENOS recomendados por usuarios para el año dado.<br> 
(reviews.recommend = False y comentarios negativos)

In [447]:
df_users_reviews = pd.read_csv("CSV//australian_user_reviews.csv", sep=",", encoding='UTF-8')

In [449]:
df_users_reviews.head(1)

,user_id,item_id,recommend,review,posted year,sentiment_analysis
0,76561197970982479,1250.0,True,Simple yet with great replayability. In my opi...,2011.0,2

In [453]:
columnas = ['item_id', 'developer']
df_output_steam_games = pd.read_csv('CSV\output_steaam_games.csv', usecols=columnas, sep=',', encoding='UTF-8')

In [454]:
df_output_steam_games.head(1)

   item_id  developer
0   761140  Kotoshiro

In [455]:
df_merge = df_users_reviews.merge(df_output_steam_games, on='item_id')

In [457]:
df_merge = df_merge[df_merge['recommend'] == False]

In [463]:
df = df_merge[['item_id', 'recommend', 'posted year', 'sentiment_analysis', 'developer']]

In [470]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9993 entries, 29 to 120656
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   item_id             9993 non-null   float64
 1   recommend           9993 non-null   object
 2   posted year         9993 non-null   int32
 3   sentiment_analysis  9993 non-null   int64
 4   developer           9993 non-null   object
dtypes: float64(1), int32(1), int64(1), object(2)
memory usage: 429.4+ KB

In [467]:
df = df.dropna()

In [469]:
df['posted year'] = df['posted year'].astype(int)

C:\Users\ALUMNO\AppData\Local\Temp\ipykernel_7040\1083059817.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['posted year'] = df['posted year'].astype(int)

In [471]:
df.to_csv('CSV\consulta4.csv', index=False)

In [472]:
df4 = pd.read_csv('CSV\consulta4.csv', sep=',', encoding='UTF-8')

In [482]:
año = 2012
df_filtrado = df4[df4['posted year'] == año]

In [483]:
df_filtrado.head(10)

,item_id,recommend,posted year,sentiment_analysis,developer
470,440.0,False,2012,0,Valve
471,440.0,False,2012,0,Valve
3964,209870.0,False,2012,2,Hardsuit Labs
3965,209870.0,False,2012,2,Hardsuit Labs
5452,24240.0,False,2012,2,OVERKILL Software
5883,209100.0,False,2012,0,Slant Six Games
6314,202970.0,False,2012,0,Treyarch
6424,10680.0,False,2012,2,Rebellion
8030,57740.0,False,2012,2,"Coreplay GmbH,Bigmoon Studios"
8031,57740.0,False,2012,2,"Coreplay GmbH,Bigmoon Studios"

In [484]:
# Agrupar por 'item_id' y contar los valores 2 en la columna 'sentimiento'
conteo_sentimiento_0 = df_filtrado[df_filtrado['sentiment_analysis'] == 0].groupby('item_id').size()

In [485]:
# Ordenar en orden descendente según el conteo
conteo_sentimiento_0 = conteo_sentimiento_0.sort_values(ascending=False)
conteo_sentimiento_0

item_id
440.0       2
42920.0     1
55110.0     1
202970.0    1
209100.0    1
dtype: int64

In [486]:
top_3 = conteo_sentimiento_0.head(3)

In [489]:
# Obtener títulos de los ítems más recomendados
items_menos_recomendados = top_3.index.tolist()

In [490]:
items_menos_recomendados

[440.0, 42920.0, 55110.0]

In [491]:

developer_menos_recomendados = df4[df4['item_id'].isin(items_menos_recomendados)][['item_id', 'developer']] \
                                .drop_duplicates().set_index('item_id').loc[items_menos_recomendados]

In [492]:
developer_menos_recomendados = developer_menos_recomendados.reset_index(drop=True)
developer_menos_recomendados

      developer
0         Valve
1  NeoCoreGames
2      Volition

In [499]:
clave = ['Puesto 1: ', 'Puesto 2: ', 'Puesto 3: ']
clave

['Puesto 1: ', 'Puesto 2: ', 'Puesto 3: ']

In [500]:
valor = developer_menos_recomendados['developer'].values
valor

array(['Valve', 'NeoCoreGames', 'Volition'], dtype=object)

In [501]:
# Crear un diccionario a partir de los arrays usando zip()
diccionario = dict(zip(clave, valor))

In [502]:
diccionario

{'Puesto 1: ': 'Valve', 'Puesto 2: ': 'NeoCoreGames', 'Puesto 3: ': 'Volition'}

In [503]:
def UsersWorstDeveloper(año):
    df4 = pd.read_csv('CSV\consulta4.csv', sep=',', encoding='UTF-8')
    df_filtrado = df4[df4['posted year'] == año] 
    # Agrupar por 'item_id' y contar los valores 2 en la columna 'sentimiento'
    conteo_sentimiento_0 = df_filtrado[df_filtrado['sentiment_analysis'] == 0].groupby('item_id').size()
    # Ordenar en orden descendente según el conteo
    conteo_sentimiento_0 = conteo_sentimiento_0.sort_values(ascending=False)
    top_3 = conteo_sentimiento_0.head(3)
    # Obtener títulos de los ítems más recomendados
    items_menos_recomendados = top_3.index.tolist()
    developer_menos_recomendados = df4[df4['item_id'].isin(items_menos_recomendados)][['item_id', 'developer']] \
                                .drop_duplicates().set_index('item_id').loc[items_menos_recomendados]
    developer_menos_recomendados = developer_menos_recomendados.reset_index(drop=True)
    clave = ['Primero: ', 'Segundo: ', 'Tercero: ']
    valor = developer_menos_recomendados['developer'].values
    # Crear un diccionario a partir de los arrays usando zip()
    diccionario = dict(zip(clave, valor))

    return diccionario

In [505]:
UsersWorstDeveloper(2012)

{'Primero: ': 'Valve', 'Segundo: ': 'NeoCoreGames', 'Tercero: ': 'Volition'}

# ENDPOINT NRO 5

def sentiment_analysis( empresa desarrolladora: str ) :<br> 
Según la empresa desarrolladora, se devuelve un diccionario con el nombre de la desarrolladora como llave y <br> 
una lista con la cantidad total de registros de reseñas de usuarios que se encuentran categorizados con un análisis de sentimiento como valor.

In [519]:
columnas = ['user_id','item_id', 'sentiment_analysis']

In [520]:
df_users_reviews = pd.read_csv("CSV//australian_user_reviews.csv",usecols= columnas ,sep=",", encoding='UTF-8')

In [521]:
df_users_reviews.dropna(inplace=True)

In [522]:
df_users_reviews['item_id'] = df_users_reviews['item_id'].astype(int)

In [527]:
columnas = ['item_id', 'developer']
df_output_steam_games = pd.read_csv('CSV\output_steaam_games.csv', usecols=columnas, sep=',', encoding='UTF-8')

In [528]:
df_output_steam_games.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55612 entries, 0 to 55611
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   item_id    55612 non-null  int64
 1   developer  55612 non-null  object
dtypes: int64(1), object(1)
memory usage: 869.1+ KB

In [529]:
df_merge = df_users_reviews.merge(df_output_steam_games, on='item_id')

In [530]:
df_merge

                  user_id  item_id  sentiment_analysis             developer
0       76561197970982479     1250                   2  Tripwire Interactive
1            death-hunter     1250                   2  Tripwire Interactive
2                DJKamBer     1250                   0  Tripwire Interactive
3               diego9031     1250                   2  Tripwire Interactive
4       76561198081962345     1250                   2  Tripwire Interactive
...                   ...      ...                 ...                   ...
120668       MeloncraftLP   262850                   2             SkyGoblin
120669         vinquility   431510                   2    Aeon Dream Studios
120670         vinquility   431510                   2    Aeon Dream Studios
120671         vinquility   431510                   2    Aeon Dream Studios
120672         vinquility   431510                   2    Aeon Dream Studios

[120673 rows x 4 columns]

In [531]:
df_merge.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120673 entries, 0 to 120672
Data columns (total 4 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   user_id             120673 non-null  object
 1   item_id             120673 non-null  int32
 2   sentiment_analysis  120673 non-null  int64
 3   developer           120673 non-null  object
dtypes: int32(1), int64(1), object(2)
memory usage: 3.2+ MB

In [534]:
# Agrupar por 'developer' y contar los valores 0,1,2 en la columna 'sentimiento'
conteo_sentimiento_0 = df_filtrado[df_filtrado['sentiment_analysis'] == 0].groupby('developer').size()
conteo_sentimiento_1 = df_filtrado[df_filtrado['sentiment_analysis'] == 1].groupby('developer').size()
conteo_sentimiento_2 = df_filtrado[df_filtrado['sentiment_analysis'] == 2].groupby('developer').size()

In [537]:
conteo_sentimiento_2

developer
Coreplay GmbH,Bigmoon Studios    3
Hardsuit Labs                    2
OVERKILL Software                1
Rebellion                        1
dtype: int64

In [559]:
df_filtrado = df_filtrado[df_filtrado['developer'] == 'Coreplay GmbH,Bigmoon Studios']

In [540]:
df_filtrado

,item_id,recommend,posted year,sentiment_analysis,developer
8030,57740.0,False,2012,2,"Coreplay GmbH,Bigmoon Studios"
8031,57740.0,False,2012,2,"Coreplay GmbH,Bigmoon Studios"
8032,57740.0,False,2012,2,"Coreplay GmbH,Bigmoon Studios"

In [578]:
# Obtener el conteo de cada valor en la columna 'sentimiento'
conteo_sentimientos = df_filtrado['sentiment_analysis'].value_counts()

# Almacenar los recuentos de cada valor en variables separadas
valor_0 = conteo_sentimientos.get(0, 0)  # Si no hay valores 0, asigna 0
valor_1 = conteo_sentimientos.get(1, 0)  # Si no hay valores 1, asigna 0
valor_2 = conteo_sentimientos.get(2, 0)  # Si no hay valores 2, asigna 0

In [583]:
r0 = 'Negativo = '
r1 = 'Neutro = '
r2 = 'Positivo = '
lista = [f"{r0}{valor_0}",f"{r1}{valor_1}", f"{r2}{valor_2}"]

In [584]:
lista

['Negativo = 0', 'Neutro = 0', 'Positivo = 3']