**Proyecto Individual 1**

  ETL archivo: australian_users_reviews.jason

**IMPORTO LIBRERIAS**

In [1]:

import ast              # module Abstract Syntax Trees
import json             # module json encoder and decoder
import pandas as pd     # module panda Data Analysis Library
import nltk             # module nlkt - natural language toolkit

**CARGO ARCHIVO JSON A UN DATAFRAME**

In [2]:
# list items
reviews = []
# open file json
with open('..\\JSON\\australian_user_reviews.json', 'r', encoding='utf-8') as f:
    # loop for insert data into list
    for line in f.readlines():
        reviews.append(ast.literal_eval(line))
# create data frame with data
df = pd.DataFrame(reviews)


# tardo 4.5s

In [3]:
# Muestra los primeros 5 registros
df.head(5)

,user_id,user_url,reviews
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"[{'funny': '', 'posted': 'Posted November 5, 2..."
1,js41637,http://steamcommunity.com/id/js41637,"[{'funny': '', 'posted': 'Posted June 24, 2014..."
2,evcentric,http://steamcommunity.com/id/evcentric,"[{'funny': '', 'posted': 'Posted February 3.',..."
3,doctr,http://steamcommunity.com/id/doctr,"[{'funny': '', 'posted': 'Posted October 14, 2..."
4,maplemage,http://steamcommunity.com/id/maplemage,"[{'funny': '3 people found this review funny',..."

**CONVIERTO LA LISTA EN EL CAMPO REVIEWS EN COLUMNAS**

In [4]:
#Convierto la lista en el campo reviews en listas separadas
dfreviewsOpen = df.explode('reviews') 
dfreviewsOpen

,user_id,user_url,reviews
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"{'funny': '', 'posted': 'Posted November 5, 20..."
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"{'funny': '', 'posted': 'Posted July 15, 2011...."
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"{'funny': '', 'posted': 'Posted April 21, 2011..."
1,js41637,http://steamcommunity.com/id/js41637,"{'funny': '', 'posted': 'Posted June 24, 2014...."
1,js41637,http://steamcommunity.com/id/js41637,"{'funny': '', 'posted': 'Posted September 8, 2..."
...,...,...,...
25797,76561198312638244,http://steamcommunity.com/profiles/76561198312...,"{'funny': '', 'posted': 'Posted July 10.', 'la..."
25797,76561198312638244,http://steamcommunity.com/profiles/76561198312...,"{'funny': '', 'posted': 'Posted July 8.', 'las..."
25798,LydiaMorley,http://steamcommunity.com/id/LydiaMorley,"{'funny': '1 person found this review funny', ..."
25798,LydiaMorley,http://steamcommunity.com/id/LydiaMorley,"{'funny': '', 'posted': 'Posted July 20.', 'la..."
25798,LydiaMorley,http://steamcommunity.com/id/LydiaMorley,"{'funny': '', 'posted': 'Posted July 2.', 'las..."

In [5]:
#Modifico el df cambiando el campo reviews en tantos columnas como items tiene en la lista
df = pd.concat([dfreviewsOpen.drop(['reviews'], axis=1), dfreviewsOpen['reviews'].apply(pd.Series)], axis=1)
df.head(3)
# esto tardo 29s

,user_id,user_url,funny,posted,last_edited,item_id,helpful,recommend,review,0
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,,"Posted November 5, 2011.",,1250,No ratings yet,True,Simple yet with great replayability. In my opi...,NaN
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,,"Posted July 15, 2011.",,22200,No ratings yet,True,It's unique and worth a playthrough.,NaN
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,,"Posted April 21, 2011.",,43110,No ratings yet,True,Great atmosphere. The gunplay can be a bit chu...,NaN

**EXTRACCION DEL AÑO DE LA COLUMNA POSTED**

In [6]:
# Extraemos de la columna Posted el año del posteo
df['posted year'] = df['posted'].str.extract(r'(\d{4})')

# borramos la columna posted
df.drop('posted' , axis = 1, inplace = True)

In [7]:
df.head(1)

,user_id,user_url,funny,last_edited,item_id,helpful,recommend,review,0,posted year
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,,,1250,No ratings yet,True,Simple yet with great replayability. In my opi...,NaN,2011

**BORRADO DE COLUMNAS**

In [8]:
# Borrado de columnas
#df_user_reviews = df_user_reviews.drop(df_user_reviews.columns[-1], axis=1)
df.drop(['user_url', 'funny', 'helpful','last_edited'], axis=1, inplace=True)

In [9]:
df.head(1)

,user_id,item_id,recommend,review,0,posted year
0,76561197970982479,1250,True,Simple yet with great replayability. In my opi...,NaN,2011

In [10]:
df.dropna(axis=1, how='all', inplace=True)
df.head(1)

,user_id,item_id,recommend,review,posted year
0,76561197970982479,1250,True,Simple yet with great replayability. In my opi...,2011

**ELIMINACION REGISTROS DUPLICADOS**

In [11]:
reg_duplicados = df[df.duplicated()]
reg_duplicados

,user_id,item_id,recommend,review,posted year
456,bokkkbokkk,346110,True,yep,2015
1182,ImSeriouss,218620,True,"Good graphics, fun heists! A bit laggy",2014
1182,ImSeriouss,105600,True,So fun! DEFINITELY NOT RIP OFF OF MINECRAFT! e...,2014
1182,ImSeriouss,570,True,bobo pinoy,2014
1182,ImSeriouss,211820,True,If you want to play this game.. expect glithes...,2014
...,...,...,...,...,...
18234,76561198092022514,422400,True,Muy entretenido y una coleccion de armas prome...,NaN
18234,76561198092022514,218620,True,"Tiene una jugabilidad y tematica muy buena :D,...",NaN
18234,76561198092022514,261820,True,"Buen juego, no importa el desarrrollo que tien...",2014
18234,76561198092022514,224260,True,exelente aporte :D¡¡¡ es una buen mod basado e...,2014
18309,SuchGayMuchWow,730,True,10/10 too many children with mikes.,2015

In [12]:
df.drop_duplicates(inplace=True)

**VERIFICANDO VALORES NULOS**

In [13]:
valores_nulos_por_columna = df.isnull().sum()
valores_nulos_por_columna

user_id           0
item_id          28
recommend        28
review           28
posted year    9961
dtype: int64

**ANALISIS DE SENTIMIENTO**

In [14]:
import nltk
nltk.download('vader_lexicon')
from nltk.sentiment.vader import SentimentIntensityAnalyzer

# Inicializamos el analizador de sentimientos
sia = SentimentIntensityAnalyzer()

# Funcion para asignar valore segun la escala
def get_sentiment_score(text):
    if pd.isnull(text) or text == '':
        return 1  # Return neutral si es vacio o NaN
    elif isinstance(text, str):
        sentiment = sia.polarity_scores(text)
        compound_score = sentiment['compound']
        if compound_score >= -0.05:
            return 2  # Buen score
        elif compound_score <= -0.05:
            return 0  # Mal score
        else:
            return 1
    else:
        return 1  # Return neutral si no tiene valor


# Convert column 'review' to str
df['review'] = df['review'].astype(str)

# apply function get_sentiment_score to column 'review'
df['sentiment_analysis'] = df['review'].apply(get_sentiment_score)

# esto  demoro 42s

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     C:\Users\ALUMNO\AppData\Roaming\nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

In [15]:
df.head(1)

,user_id,item_id,recommend,review,posted year,sentiment_analysis
0,76561197970982479,1250,True,Simple yet with great replayability. In my opi...,2011,2

In [16]:

# verify values into dataframe
df.loc[df['sentiment_analysis'] == 0].count()

user_id               9465
item_id               9465
recommend             9465
review                9465
posted year           7571
sentiment_analysis    9465
dtype: int64

In [17]:
# verify values into dataframe
df.loc[df['sentiment_analysis'] == 1].count()

user_id               30
item_id               30
recommend             30
review                30
posted year           27
sentiment_analysis    30
dtype: int64

In [18]:
# verify values into dataframe
df.loc[df['sentiment_analysis'] == 2].count()

user_id               48964
item_id               48936
recommend             48936
review                48964
posted year           40900
sentiment_analysis    48964
dtype: int64

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 58459 entries, 0 to 25798
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   user_id             58459 non-null  object
 1   item_id             58431 non-null  object
 2   recommend           58431 non-null  object
 3   review              58459 non-null  object
 4   posted year         48498 non-null  object
 5   sentiment_analysis  58459 non-null  int64
dtypes: int64(1), object(5)
memory usage: 3.1+ MB

In [20]:
df.to_csv('../CSV/australian_user_reviews.csv', index=False)

In [21]:
df

,user_id,item_id,recommend,review,posted year,sentiment_analysis
0,76561197970982479,1250,True,Simple yet with great replayability. In my opi...,2011,2
0,76561197970982479,22200,True,It's unique and worth a playthrough.,2011,2
0,76561197970982479,43110,True,Great atmosphere. The gunplay can be a bit chu...,2011,2
1,js41637,251610,True,I know what you think when you see this title ...,2014,2
1,js41637,227300,True,For a simple (it's actually not all that simpl...,2013,2
...,...,...,...,...,...,...
25797,76561198312638244,70,True,a must have classic from steam definitely wort...,NaN,2
25797,76561198312638244,362890,True,this game is a perfect remake of the original ...,NaN,2
25798,LydiaMorley,273110,True,had so much fun plaing this and collecting res...,NaN,2
25798,LydiaMorley,730,True,:D,NaN,2
25798,LydiaMorley,440,True,so much fun :D,NaN,2